<%- layout("/boilerplate/boilerplate") %>

    <body>


        <div class="main">
            <h1>Welcome to the Car World</h1>
            <a href="/home">See All Cars...</a>
        </div>
    </body>