


<footer class="footer ">
    
    <ul class="menu">
        <li class="menu__item"><a class="menu__link" href="/">Home</a></li>
        <li class="menu__item"><a class="menu__link" href="/home">Show All</a></li>
        <li class="menu__item"><a class="menu__link" href="/home/new">Create new</a></li>

    </ul>
    <p>&copy;2021 Nadine Coelho | All Rights Reserved</p>
</footer>
