<nav class="position-sticky top-0">
    <div class="menu-icon"><i class="fa-solid fa-bars"></i></div>
    <p class="bar-icon"><i class="fa-solid fa-bars"></i></p>
    <a href="/flipkart"><img
            src="https://static-assets-web.flixcart.com/batman-returns/batman-returns/p/images/fkheaderlogo_exploreplus-44005d.svg"
            alt="LogoImage"></a>
    <form action="/flipkart" method="get">
        <span class="search-box">
            <i class="fa-solid fa-magnifying-glass"></i>
            <input type="search" name="search" id="search" placeholder="Search for Products,Brands and More">
        </span>
    </form>
    <ul class="dropdown mb-0">
        <% if(!currUser) {%>
            <a href="/login" class="login">
                <i class="fa-regular fa-circle-user"></i>&nbsp;&nbsp;Login
            </a>
            <% } else{%>
                <a href="/logout" class="login">
                    <i class="fa-solid fa-arrow-right-from-bracket"></i>&nbsp;&nbsp;<span>LogOut</span>
                </a>
                <% } %>

                    <button class="btn dropdown-toggle dropdown-toggle-split" type="button" id="dropdownMenuButton"
                        data-bs-toggle="dropdown" aria-expanded="false">

                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <% if(!currUser) {%>
                            <h6>New customer? &nbsp; &nbsp; &nbsp;
                                <a href="/signup" style="position: absolute;z-index: 100000;right: 0.2rem;">Sign Up</a>
                            </h6>
                            <% } %>
                                <li><a class="dropdown-item" href="/profile">My Profile</a></li>
                                <li><a class="dropdown-item" href="#">Flipkart Plus Zone</a></li>
                                <li><a class="dropdown-item" href="#">Orders</a></li>
                                <li><a class="dropdown-item" href="#">Wishlist</a></li>
                                <li><a class="dropdown-item" href="#">Rewards</a></li>
                                <li><a class="dropdown-item" href="#">Gift Cards</a></li>
                                <% if(currUser && currUser.howAreYou.toLowerCase()==="seller" ){ %>
                                    <li><a class="dropdown-item" href="/flipkart/new">Add new items</a></li>
                                    <% } %>

                    </ul>
    </ul>
    <span><a href="/flipkart/cart"><i class="fa-solid fa-cart-shopping"></i>&nbsp;&nbsp;<span>Cart</span></a></span>

    <span> <a href="#"><i class="fa-solid fa-store"></i>&nbsp;&nbsp;<span>Become a Seller</span></a></span>

    <ul class="hover mb-0">
        <span><i class="fas fa-ellipsis-v"></i>
            <ul class="hover-menu p-0">
                <li class="hover-item"> <a href="#">Notification Preferences</a></li>
                <li class="hover-item"><a href="#">24x7 Customer Care</a></li>
                <li class="hover-item"><a href="#">Advertise</a></li>
                <li class="hover-item"> <a href="#">Download App</a></li>
            </ul>
        </span>
    </ul>
</nav>