
 <div class="footer">
     <div><img src="https://lwfiles.mycourse.app/62a6cd5e1e9e2fbf212d608d-public/6efdd5e7f0d663cf231d0f2040be0a1e.png" alt="img">
         <p>WE are India's Most Loved Coding Community. Join us!</p></div>
     <ul class="ul">
         <h3>HELPFUL LINKS</h3>
         <li><a href="#"><i class="fa-solid fa-chevron-right side"></i> &nbsp;&nbsp;&nbsp;&nbsp;Course</a></li>
         <li><a href="#"><i class="fa-solid fa-chevron-right side"></i> &nbsp;&nbsp;&nbsp;&nbsp;Privacy policy</a></li>
         <li><a href="#"><i class="fa-solid fa-chevron-right side "></i> &nbsp;&nbsp;&nbsp;&nbsp;REFUND & CANCELLATION POLICY</a></li>
         <li><a href="#"><i class="fa-solid fa-chevron-right side"></i> &nbsp;&nbsp;&nbsp;&nbsp;TERMS & CONDITINOS</a></li>
     </ul>
     <ul class="ul">
         <h3>GET IN TOUCH</h3>
         <li><a href="#"><i class="fa-solid fa-chevron-right side"></i> &nbsp;&nbsp;&nbsp;&nbsp;aplha@apnacollege.in</a></li>
         <li><a href="#"><i class="fa-solid fa-chevron-right side"></i> &nbsp;&nbsp;&nbsp;&nbsp;delta@apnacollege.in</a></li>
         <li><a href="#"><i class="fa-solid fa-chevron-right side"></i> &nbsp;&nbsp;&nbsp;&nbsp;Support Team : 10am-6pm</a></li>
         
     </ul>
     <ul class="ul">
         <h3>CONNECT WITH US</h3>
         <li><a href="#">Facebook <i class="fa-brands fa-square-facebook h"></i></a></li>
         <li><a href="#">Twitter <i class="fa-brands fa-square-twitter h"></i></a></li>
         <li><a href="#">Youtube <i class="fa-brands fa-youtube h"></i></a></li>
         <li><a href="#">Instagram <i class="fa-brands fa-instagram h"></i></a></li>
         <li><a href="#">Linkedin <i class="fa-brands fa-linkedin h"></i></a></li>
         
     </ul>
     <p>Copyright &copy; 2023</p>
 </div>