<nav>
    <img src="https://lwfiles.mycourse.app/62a6cd5e1e9e2fbf212d608d-public/6efdd5e7f0d663cf231d0f2040be0a1e.png"
        alt="Logo">

   <div class="menu">
    <div></div>
    <div></div>
    <div></div>
   </div>
    <ul>
       
        <li><a href="http://localhost:8080/">Home</a></li>
        <li class="drop-course"><a href="#">Course <i class="fa-solid fa-chevron-down"></i></a>
            <ul class="dropdown-course">
                <li><a href="http://localhost:8080/alpha-plus-2">Alpha Plus 2.0 (Java DSA)</a></li>
                <li><a href="http://localhost:8080/sigma-betch">Sigma (DSA + Development)</a></li>
                <li><a href="http://localhost:8080/delta-betch">Delta 3.0 (Web Development)</a></li>
            </ul>
        </li>
        <li class="drop-res"><a href="#">Resources <i class="fa-solid fa-chevron-down"></i></a>
            <ul class="dropdown-res">
                <li><a href="http://localhost:8080/college-reviews">College Reviews</a></li>
                <li><a href="http://localhost:8080/notes">Notes</a></li>
            </ul>
        </li>
        <li><a href="http://localhost:8080/mybatch">My Batch</a></li>
        <li><a href="#">Sign out</a></li>
    </ul>
</nav>